<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="LocalDB" connectionString="Data Source=DESKTOP-S3RM42G;Initial Catalog=SarangaBatteryWork;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>